@import '_misc/adjustment';

/* Стили bootstrap*/


@media (min-width: 991px) {
  .container{
    max-width: rem(1230px);
  }


  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
  .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
  .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
  .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
  .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
  .col-xl-auto {
    padding-right: rem(12px);
    padding-left: rem(12px);
  }

  .row {
    margin-right: rem(-12px);
    margin-left: rem(-12px);
  }
}


/* прибитие футера к низу*/

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  position: relative;
  z-index: 500;
}

main {
  flex: 1 0 auto;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  background: #FFFFFF;
}

.main-banner {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $blue;
  border-radius: 40px;
  padding-bottom: 54px;
  margin-bottom: 82px;
  position: relative;
}

.main-banner__telegram {
  position: absolute;
  left: 0;
  top: 37px;
  z-index: 1;
}

.main-banner__iphone {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 40px;
  z-index: 1;
}

.main-banner__title {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  color: #FFFFFF;
  margin-top: 40px;
  margin-bottom: 4px;
  z-index: 5;
}

.main-banner__info {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 140%;
  color: #FFFFFF;
  text-align: center;
  width: 40%;
  margin-bottom: 40px;
  z-index: 5;
}

.main-action {
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.main-action-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 12px;
  transition: background .25s;

  &:hover, &:focus {
    background: $gray;
  }
}

.main-action-item:not(:last-of-type) {
  margin-right: 8px;
}

.main-action-item__text {
  margin-left: 8px;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  color: $black;
}

.main-social {
  width: 83%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px 40px;
  background: #FFFFFF;
  box-shadow: 0 20px 60px rgba(26, 26, 26, 0.05);
  border-radius: 40px;
}

.main-social-info {
  display: flex;
  flex-direction: column;
}

.main-social-info__text {
  margin-bottom: 16px;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  color: $black;
}

.main-social-info__title {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: $black;
}

.main-social-icons {
  display: flex;
  justify-content: space-between;
}

.main-social-icons__btn {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $light-gray;
  border-radius: 13.3311px;
  transition: background .25s;

  &:hover, &:focus {
    background: $gray;
  }
}

.main-social-icons__btn:not(:last-of-type) {
  margin-right: 14px;
}

.main-questions {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-questions__title {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: $black;
  margin-bottom: 33px;
}

.main-slider {
  display: flex;
  align-items: center;
  width: 100%;
}

.slick-track {
  height: 190px;
  top: 15px;
}

.slick-initialized .slick-slide {
  display: flex;
}

.main-slider-item {
  display: flex;
  justify-content: space-between;
  flex: 1;
  height: 160px;
  background: #FFFFFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.main-slider-item:not(:last-of-type) {
  margin-right: 18px;
}

.main-slider-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-left: 16px;
}

.main-slider-block__title {
  width: 100%;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: $black;
  margin-bottom: 8px;
  padding-right: 16px;
}

.main-slider-block__subtitle {
  width: 100%;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 140%;
  color: $gray;
  padding-right: 16px;
}

.main-help {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.main-help__title {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: $black;
  margin-bottom: 32px;
}

.main-help-info {
  width: 83%;
  display: flex;
  flex-direction: column;
}

.main-help-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  padding: 20px 24px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  transition: all .25s;

  &:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  }
}

.main-help-item:not(:last-of-type) {
  margin-bottom: 12px;
}

.main-help-item__title {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: $black;
}

.main-help-item__subtitle {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 140%;
  color: $gray;
  margin-top: 4px;
  width: 70%;
}

.delivery {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 22px;
  margin-bottom: 80px;
}

.delivery-head {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.delivery-head__title {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: $black;
  margin-right: 15px;
}

.delivery-main {
  width: 56%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 140%;
  color: $black;

  span {
    width: 100%;
  }
}

.delivery-footer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.delivery-text {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  color: $black;
  margin-bottom: 16px;
}

.delivery-connect {
  display: flex;
  align-items: center;
}

.delivery-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 224px;
  height: 48px;
  background: $green;
  border-radius: 12px;
  transition: background .25s;
  margin-right: 11px;

  &:hover, &:focus {
    background: #109a10;
  }
}

.delivery-chat__text {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  color: #FFFFFF;
  margin-left: 8px;
}

.delivery-btn {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $light-gray;
  border-radius: 12px;
  transition: all .25s;

  &:hover, &:focus {
    background: $gray;
  }
}

.delivery-btn:not(:last-of-type) {
  margin-right: 8px;
}

.delivery-head__icon {
  width: 18px;
  height: 20px;
}

.slick-prev, .slick-next {
  width: 44px;
  height: 44px;
  background: #FFFFFF;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  z-index: 100;
}

.slick-next {
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    @include background-contain('arrow-right.svg');
    width: 6px;
    height: 11px;
    opacity: 1;
  }
}

.slick-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;

  &::before {
    content: '';
    @include background-contain('arrow-right.svg');
    width: 6px;
    height: 11px;
    opacity: 1;
    transform: rotate(180deg);
  }
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  background: #FFFFFF;
}


/*media*/

@import '_misc/media';

/**/
