extends ../templates/template
block content
    main.content

        .container

            .delivery
                .delivery-head
                    h1.delivery-head__title Где работает доставка?
                    img(src='img/icon.svg').delivery-head__icon
                .delivery-main
                    span Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.
                    span Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.
                    span Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.
                    span Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.
                .delivery-footer
                    .delivery-text Проблема не решилась? Свяжитесь с нами, мы поможем
                    .delivery-connect
                        a(href='javascript:void(0);').delivery-chat
                            img(src='img/message.svg')
                            .delivery-chat__text Онлайн-чат
                        a(href='javascript:void(0);').delivery-btn
                            img(src='img/phone-green.svg')
                        a(href='javascript:void(0);').delivery-btn
                            img(src='img/mail-green.svg')
