extends ../templates/template
block content
	main.content

		.container
			.main
				.main-banner
					img(src='img/telegram.png').main-banner__telegram
					img(src='img/iphone.png').main-banner__iphone
					h1.main-banner__title Поддержка здесь
					.main-banner__info Мы любим общаться и рады всем отзывам, вопросам и предложениям. Выберите удобный способ
					.main-action
						a(href='javascript:void(0);').main-action-item
							img(src='img/chat.svg').main-action-item__icon
							.main-action-item__text Онлайн-чат
						a(href='javascript:void(0);').main-action-item
							img(src='img/phone.svg').main-action-item__icon
							.main-action-item__text Позвонить
						a(href='javascript:void(0);').main-action-item
							img(src='img/mail.svg').main-action-item__icon
							.main-action-item__text Почта
						a(href='javascript:void(0);').main-action-item
							img(src='img/star.svg').main-action-item__icon
							.main-action-item__text Отзыв о сайте
				.main-social
					.main-social-info
						.main-social-info__text Социальные сети и сообщество
						.main-social-info__title Присоединяйтесь
					.main-social-icons
						a(href='javascript:void(0);').main-social-icons__btn
							img(src='img/vk.svg').main-social-icons__icon
						a(href='javascript:void(0);').main-social-icons__btn
							img(src='img/insta.svg').main-social-icons__icon
						a(href='javascript:void(0);').main-social-icons__btn
							img(src='img/tik.svg').main-social-icons__icon
						a(href='javascript:void(0);').main-social-icons__btn
							img(src='img/twit.svg').main-social-icons__icon
						a(href='javascript:void(0);').main-social-icons__btn
							img(src='img/dzen.svg').main-social-icons__icon
						a(href='javascript:void(0);').main-social-icons__btn
							img(src='img/facebook.svg').main-social-icons__icon
				.main-questions
					h2.main-questions__title Часто задаваемые вопросы
					.main-slider
						a(href='javascript:void(0);').main-slider-item
							.main-slider-block
								.main-slider-block__title Где работает доставка?
							img(src='img/bag.png').main-slider-image
						a(href='javascript:void(0);').main-slider-item
							.main-slider-block
								.main-slider-block__title Где работает доставка?
								.main-slider-block__subtitle Карта лояльности с вашим номером покупателя. Это карта лояльности с вашим
						a(href='javascript:void(0);').main-slider-item
							.main-slider-block
								.main-slider-block__title Где работает доставка?
								.main-slider-block__subtitle Карта лояльности с вашим номером
							img(src='img/bag.png').main-slider-image
						a(href='javascript:void(0);').main-slider-item
							.main-slider-block
								.main-slider-block__title В какое время возможен самовывоз В какое время возможен самовывоз?
								.main-slider-block__subtitle Карта лояльности с вашим
						a(href='javascript:void(0);').main-slider-item
							.main-slider-block
								.main-slider-block__title Где работает доставка?
							img(src='img/bag.png').main-slider-image
						a(href='javascript:void(0);').main-slider-item
							.main-slider-block
								.main-slider-block__title Где работает доставка?
								.main-slider-block__subtitle Карта лояльности с вашим номером покупателя. Это карта лояльности с вашим
						a(href='javascript:void(0);').main-slider-item
							.main-slider-block
								.main-slider-block__title Где работает доставка?
								.main-slider-block__subtitle Карта лояльности с вашим номером
							img(src='img/bag.png').main-slider-image
						a(href='javascript:void(0);').main-slider-item
							.main-slider-block
								.main-slider-block__title В какое время возможен самовывоз В какое время возможен самовывоз?
								.main-slider-block__subtitle Карта лояльности с вашим
				.main-help
					h2.main-help__title Справка
					.main-help-info
						a(href='javascript:void(0);').main-help-item
							.main-help-item__title Бережная сборка
							img(src='img/arrow-right.svg')
						a(href='javascript:void(0);').main-help-item
							.main-help-item-block
								.main-help-item__title Способы доставки и самовывоза
								.main-help-item__subtitle Это карта лояльности с вашим номером покупат Это карта лояльности с вашим номером покупат
							img(src='img/arrow-right.svg')
						a(href='javascript:void(0);').main-help-item
							.main-help-item__title Минимальная сумма заказа
							img(src='img/arrow-right.svg')
						a(href='javascript:void(0);').main-help-item
							.main-help-item-block
								.main-help-item__title Лёгкий возврат
								.main-help-item__subtitle Это карта лояльности с вашим номером покупат Это карта лояльности с вашим номером покупат
							img(src='img/arrow-right.svg')


